- var title = htmlWebpackPlugin.options.title
doctype html
html(lang="en")
  head
    title= title
    meta(charset="UTF-8")
    link(href='https://cdn.jsdelivr.net/npm/animate.css@^3.5.2/animate.min.css' rel='stylesheet')
    link(href='https://cdn.jsdelivr.net/npm/ionicons@^4.0.0/dist/css/ionicons.min.css' rel='stylesheet')
    link(rel='icon' href='favicon.png' type='image/x-icon')
    link(href='https://cdn.jsdelivr.net/npm/quasar/dist/quasar.min.css' rel='stylesheet' type='text/css')

  body
    script(src='https://cdn.jsdelivr.net/npm/quasar/dist/quasar.ie.polyfills.umd.min.js')
    #app(data-vue="root") If You see this message Vue is not loaded
