red = #FF5028
light-red = #FF8246
pink = #E91E63
purple = #9C27B0
deep-purple = #D1C4E9
indigo = #3F51B5
blue = #2196F3
light-blue = #03A9F4
cyan = #3949AB
teal = #009688
green = #8CC800
neon-green = #D2FF00
light-green = #8BC34A
lime = #CDDC39
yellow = #F8E81C
amber = #FFC107
orange = #FF9800
deep-orange = #2E7C32
brown = #795548
blue-grey = #607D8B
grey = #9E9E9E
light-grey = #B4B4B4
white = #FFFFFF
light-black = #111111
black = #000000
